{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="span4"></div> 
    <div class="span4">
        {% if form.errors %}
            <div class="alert alert-error">
            <b>Fehler!</b>
            <ul>
            {% for field in form.errors.keys() %}
                <li><b>{{ field }}:</b> {{ form.errors[field][0] }}</li>
            {% endfor %}
            </ul>
            </div>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
        <input id="username" class="span4" name="username" type="text" placeholder="username"><br>
        <input id="password" class="span4" name="password" type="password" placeholder="passwort"><br>    
	{{ form.csrf_token }}
        <button class="center btn btn-block btn-primary" type="submit">Anmelden</button>
        </form>
    </div>
    <div class="span4"></div> 
</div>
{% endblock %}
