{% extends "layout.html" %}

{% block content %}
{% if events|count == 0 %}
        <div class="row alert">
            Fehler: Keine Events gefunden
        </div>
    {% endif %}
    {% for event in events %}
        <div class="row">
            <div class="span2">
                <img width="150" src="{{ event.image_path }}" class="img-circle">
            </div>
            <div class="span10">
              <h5> <a href="/events/{{ event.id }}">{{ event.title }}</a></h5>

                <p>
                    <i class="icon-calendar"></i>
                    {{ event.start_date.strftime("%A, %d. %B %Y, %H:%M").decode('utf-8') }} {% if event.end_date %} - {{event.end_date.strftime("%A, %d. %B %Y, %H:%M").decode('utf-8')}}{% endif %}
                </p>

                <p>
                    <i class="icon-map-marker"></i>
                    {% if event.location %}
                    {{ event.location.name }} ({{ event.location.address }})
                    {% else %}
                        <span class="muted">Kein Ort angegeben.</span>
                    {% endif %}
                </p>

                <p>
                    <i class="icon-comment"></i>
                    {% if event.description %}
                        {{ event.description|safe }}
                    {% else %}
                        <span class="muted">Keine Beschreibung vorhanden.</span>
                    {% endif %}
                </p>

                <p>
                    <i class="icon-user"></i>
                    Angelegt von {{ event.owner.name }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
